In [3]:
# pip install nba_api

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [5]:
from nba_api.stats.endpoints import leaguegamelog

gamelog = leaguegamelog.LeagueGameLog()

gamelog_data = gamelog.get_data_frames()[0]

In [6]:
# gamelog_data

### Teams info.

In [ ]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()

team_ids = [team['id'] for team in nba_teams]

In [31]:
print(len(team_ids))
type(team_ids)

list

In [ ]:
nba_teams_df = pd.DataFrame(nba_teams)

In [10]:
# nba_teams_df

### Teams year by year stats.

In [38]:
from nba_api.stats.endpoints import teamyearbyyearstats

all_teams_stats_df = pd.DataFrame()

for id in team_ids:
       
    team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=id)
    team_stats_df = team_stats.get_data_frames()[0]
    
    all_teams_stats_df = pd.concat([all_teams_stats_df, team_stats_df], ignore_index=True)

In [2]:
# all_teams_stats_df

In [40]:
# all_teams_stats_df.to_csv('all_teams_stats_df.csv', index=False)

In [10]:
# import pandas as pd
# from nba_api.stats.static import players

# nba_players = players.get_players()

# all_players_df = pd.DataFrame()

# current_year = date.today().year

# for year in range(current_year - 20, current_year + 1):
#     active_players = [player for player in nba_players]

#     year_players_df = pd.DataFrame(active_players)

#     year_players_df['year'] = year

#     all_players_df = pd.concat([all_players_df, year_players_df], ignore_index=True)

In [11]:
# all_players_df

### Players' stats.

In [12]:
from nba_api.stats.endpoints import leaguedashplayerstats

player_stats = leaguedashplayerstats.LeagueDashPlayerStats()
player_stats_data = player_stats.get_data_frames()[0]

In [3]:
# player_stats_data

#### Players' bio stats.

In [2]:
import pandas as pd
from nba_api.stats.endpoints import leaguedashplayerbiostats
from datetime import date

all_player_G_bio_stats_df = pd.DataFrame()

current_year = 2023

for year in range(current_year - 25, current_year):
    
    season = f"{year}-{str(year + 1)[2:]}"
    
    player_bio_stats = leaguedashplayerbiostats.LeagueDashPlayerBioStats(season=season, player_position_abbreviation_nullable='G')
    player_bio_stats_data = player_bio_stats.get_data_frames()[0]
    
    player_bio_stats_data['SEASON'] = season
    
    all_player_G_bio_stats_df = pd.concat([all_player_G_bio_stats_df, player_bio_stats_data], ignore_index=True)

In [5]:
len(all_player_G_bio_stats_df)

11966

In [4]:
# all_player_bio_stats_df.nunique()

In [5]:
# all_player_bio_stats_df[all_player_bio_stats_df['PLAYER_NAME'] == 'Chris Paul']

In [6]:
# all_player_bio_stats_df.isna().sum().sum()

In [11]:
all_player_bio_stats_df.isna().sum()

PLAYER_ID                0
PLAYER_NAME              1
TEAM_ID                  1
TEAM_ABBREVIATION        1
AGE                      1
PLAYER_HEIGHT           71
PLAYER_HEIGHT_INCHES    71
PLAYER_WEIGHT            6
COLLEGE                  0
COUNTRY                  1
DRAFT_YEAR               0
DRAFT_ROUND             89
DRAFT_NUMBER            98
GP                       0
PTS                      0
REB                      0
AST                      0
NET_RATING               0
OREB_PCT                 0
DREB_PCT                 0
USG_PCT                  0
TS_PCT                   0
AST_PCT                  0
SEASON                   0
dtype: int64

In [12]:
all_player_bio_stats_df[all_player_bio_stats_df['PLAYER_HEIGHT'].isna()]

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_HEIGHT_INCHES,PLAYER_WEIGHT,COLLEGE,COUNTRY,...,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT,SEASON
0,1823,None,NaN,None,NaN,None,NaN,None,None,None,...,5,5,1,-8.8,0.100,0.111,0.115,0.434,0.050,1998-99
149,698,Eddie Johnson,1.610613e+09,HOU,40.0,None,NaN,,Illinois,USA,...,12,2,1,-11.9,0.000,0.125,0.288,0.462,0.063,1998-99
914,223,Bill Curley,1.610613e+09,GSW,29.0,None,NaN,,Boston College,USA,...,63,37,3,-9.7,0.106,0.090,0.155,0.569,0.028,2000-01
915,182,Billy Owens,1.610613e+09,DET,32.0,None,NaN,,Syracuse,USA,...,198,205,55,-1.6,0.092,0.139,0.147,0.400,0.108,2000-01
954,904,Chris Mullin,1.610613e+09,GSW,37.0,None,NaN,,St. John's (NY),USA,...,115,41,19,-9.1,0.023,0.084,0.155,0.486,0.088,2000-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7368,202343,Elliot Williams,1.610613e+09,PHI,26.0,None,NaN,None,Memphis,USA,...,37,8,12,5.5,0.000,0.065,0.162,0.477,0.150,2014-15
7445,202399,Jeff Adrien,1.610613e+09,HOU,29.0,None,NaN,None,Connecticut,USA,...,60,77,15,-1.6,0.091,0.244,0.134,0.494,0.104,2014-15
7457,203968,Jerrelle Benimon,1.610613e+09,DEN,23.0,None,NaN,None,Towson,USA,...,0,3,0,100.0,1.000,0.400,0.143,0.000,0.000,2014-15
7602,203565,Patrick Christopher,1.610613e+09,MEM,27.0,None,NaN,None,California,USA,...,6,6,0,-27.8,0.071,0.154,0.203,0.250,0.000,2014-15
7713,203805,Will Cherry,1.610613e+09,TOR,24.0,None,NaN,None,Montana,USA,...,15,5,8,-3.6,0.014,0.056,0.165,0.347,0.174,2014-15

In [13]:
# all_player_bio_stats_df.to_csv('all_players_bio_stats_1998-2022.csv', index=False)

### League leaders.

In [22]:
from nba_api.stats.endpoints import leagueleaders
import pandas as pd
from datetime import date

all_league_leaders_df = pd.DataFrame()

current_year = date.today().year

for year in range(current_year - 20, current_year):
    season = f"{year}-{str(year + 1)[2:]}"
    league_leaders = leagueleaders.LeagueLeaders(
            season=season,
            season_type_all_star="Regular Season",
        )

    league_leaders_data = league_leaders.get_data_frames()[0]
    league_leaders_data['SEASON'] = season

    all_league_leaders_df = pd.concat([all_league_leaders_df, league_leaders_data], ignore_index=True)

In [7]:
# all_league_leaders_df[all_league_leaders_df['SEASON']=='2021-22']

In [28]:
from nba_api.stats.endpoints import leagueleaders
import pandas as pd
from datetime import date

all_league_leaders_df = pd.DataFrame()

current_year = date.today().year

for year in range(current_year - 20, current_year):
    season = f"{year}-{str(year + 1)[2:]}"
    league_assist_leaders = leagueleaders.LeagueLeaders(
        season=season,
        season_type_all_star="Regular Season",
        stat_category_abbreviation='AST'
    )

    league_assist_leaders_data = league_assist_leaders.get_data_frames()[0]
    league_assist_leaders_data['SEASON'] = season

    all_league_leaders_df = pd.concat([all_league_leaders_df, league_assist_leaders_data], ignore_index=True)

In [8]:
# all_league_leaders_df

### Advanced stats.

In [68]:
import pandas as pd
from nba_api.stats.endpoints import teamdashboardbygeneralsplits

season_year = '2022-23'
team_id = 1610612765

team_dashboard = teamdashboardbygeneralsplits.TeamDashboardByGeneralSplits(team_id=team_id, season=season_year, measure_type_detailed_defense='Advanced')

team_dashboard_data = team_dashboard.get_data_frames()[0]

# team_pace_data = team_dashboard_data[['GROUP_SET', 'GROUP_VALUE', 'PACE']]

In [11]:
# team_dashboard_data

In [72]:
import pandas as pd
from nba_api.stats.endpoints import teamdashboardbygeneralsplits

season_year = '2022-23'

all_teams_dashboard_df = pd.DataFrame()

for id in team_ids:
    team_dashboard = teamdashboardbygeneralsplits.TeamDashboardByGeneralSplits(team_id=id, season=season_year, measure_type_detailed_defense='Advanced')
    team_dashboard_data = team_dashboard.get_data_frames()[0]
    team_dashboard_data['TEAM_ID'] = id
    all_teams_dashboard_df = pd.concat([all_teams_dashboard_df, team_dashboard_data], ignore_index=True)

In [9]:
# all_teams_dashboard_df

In [78]:
teams_advanced_df_22_23 = pd.merge(all_teams_dashboard_df, nba_teams_df, left_on='TEAM_ID', right_on='id', how='left')

In [84]:
teams_advanced_df_22_23.head()

,full_name,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TO,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,OFF_RATING_RANK,DEF_RATING_RANK,NET_RATING_RANK,AST_PCT_RANK,AST_TO_RANK,AST_RATIO_RANK,OREB_PCT_RANK,DREB_PCT_RANK,REB_PCT_RANK,TM_TOV_PCT_RANK,EFG_PCT_RANK,TS_PCT_RANK,PACE_RANK,PIE_RANK,TEAM_ID,id,abbreviation,nickname,city,state,year_founded
0,Atlanta Hawks,Overall,2022-23,2022-23,82,41,41,0.500,3971.0,113.9,115.5,113.6,115.4,0.3,0.1,0.560,1.93,17.6,0.289,0.717,0.500,0.126,0.541,0.579,103.1,101.56,84.63,8407,0.500,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612737,1610612737,ATL,Hawks,Atlanta,Georgia,1949
1,Boston Celtics,Overall,2022-23,2022-23,82,57,25,0.695,3996.0,115.7,117.3,108.8,110.6,7.0,6.7,0.632,2.00,19.1,0.255,0.746,0.506,0.133,0.566,0.600,100.6,99.15,82.63,8247,0.534,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612738,1610612738,BOS,Celtics,Boston,Massachusetts,1946
2,Cleveland Cavaliers,Overall,2022-23,2022-23,82,51,31,0.622,3976.0,113.7,115.5,107.7,109.9,6.0,5.6,0.600,1.87,18.6,0.273,0.715,0.496,0.137,0.556,0.590,98.0,96.27,80.23,7972,0.531,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612739,1610612739,CLE,Cavaliers,Cleveland,Ohio,1970
3,New Orleans Pelicans,Overall,2022-23,2022-23,82,42,40,0.512,3971.0,111.8,113.8,109.9,112.0,1.9,1.9,0.616,1.77,18.5,0.290,0.732,0.512,0.145,0.543,0.582,101.4,99.58,82.98,8239,0.514,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612740,1610612740,NOP,Pelicans,New Orleans,Louisiana,2002
4,Chicago Bulls,Overall,2022-23,2022-23,82,40,42,0.488,3981.0,111.7,112.8,109.4,111.5,2.3,1.3,0.575,1.83,18.1,0.236,0.736,0.493,0.133,0.550,0.587,100.6,99.18,82.65,8225,0.512,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612741,1610612741,CHI,Bulls,Chicago,Illinois,1966

In [80]:
column = teams_advanced_df_22_23['full_name']

teams_advanced_df_22_23.drop('full_name', axis=1, inplace=True)

teams_advanced_df_22_23.insert(0, 'full_name', column)

In [83]:
# teams_advanced_df_22_23.to_csv('teams_advanced_df_22_23.csv', index=False)

In [88]:
import pandas as pd
from nba_api.stats.endpoints import teamdashboardbygeneralsplits
import random
import time

current_year = 2023

all_teams_dashboard_df = pd.DataFrame()

for year in range(current_year - 25, current_year):
    season = f"{year}-{str(year + 1)[2:]}"
    for id in team_ids:
        team_dashboard = teamdashboardbygeneralsplits.TeamDashboardByGeneralSplits(team_id=id, season=season, measure_type_detailed_defense='Advanced')
        sleep_time = random.uniform(0.5, 1.0)
        time.sleep(sleep_time)
        team_dashboard_data = team_dashboard.get_data_frames()[0]
        team_dashboard_data['TEAM_ID'] = id
        all_teams_dashboard_df = pd.concat([all_teams_dashboard_df, team_dashboard_data], ignore_index=True)

In [91]:
all_teams_dashboard_df.shape

(744, 48)

In [90]:
# all_teams_dashboard_df.to_csv('all_teams_dashboard_df_1998_2022.csv', index=False)

In [ ]:
teams_advanced_df_22_23 = pd.merge(all_teams_dashboard_df, nba_teams_df, left_on='TEAM_ID', right_on='id', how='left')

In [ ]:
teams_advanced_df_22_23.head()

,full_name,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TO,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,OFF_RATING_RANK,DEF_RATING_RANK,NET_RATING_RANK,AST_PCT_RANK,AST_TO_RANK,AST_RATIO_RANK,OREB_PCT_RANK,DREB_PCT_RANK,REB_PCT_RANK,TM_TOV_PCT_RANK,EFG_PCT_RANK,TS_PCT_RANK,PACE_RANK,PIE_RANK,TEAM_ID,id,abbreviation,nickname,city,state,year_founded
0,Atlanta Hawks,Overall,2022-23,2022-23,82,41,41,0.500,3971.0,113.9,115.5,113.6,115.4,0.3,0.1,0.560,1.93,17.6,0.289,0.717,0.500,0.126,0.541,0.579,103.1,101.56,84.63,8407,0.500,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612737,1610612737,ATL,Hawks,Atlanta,Georgia,1949
1,Boston Celtics,Overall,2022-23,2022-23,82,57,25,0.695,3996.0,115.7,117.3,108.8,110.6,7.0,6.7,0.632,2.00,19.1,0.255,0.746,0.506,0.133,0.566,0.600,100.6,99.15,82.63,8247,0.534,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612738,1610612738,BOS,Celtics,Boston,Massachusetts,1946
2,Cleveland Cavaliers,Overall,2022-23,2022-23,82,51,31,0.622,3976.0,113.7,115.5,107.7,109.9,6.0,5.6,0.600,1.87,18.6,0.273,0.715,0.496,0.137,0.556,0.590,98.0,96.27,80.23,7972,0.531,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612739,1610612739,CLE,Cavaliers,Cleveland,Ohio,1970
3,New Orleans Pelicans,Overall,2022-23,2022-23,82,42,40,0.512,3971.0,111.8,113.8,109.9,112.0,1.9,1.9,0.616,1.77,18.5,0.290,0.732,0.512,0.145,0.543,0.582,101.4,99.58,82.98,8239,0.514,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612740,1610612740,NOP,Pelicans,New Orleans,Louisiana,2002
4,Chicago Bulls,Overall,2022-23,2022-23,82,40,42,0.488,3981.0,111.7,112.8,109.4,111.5,2.3,1.3,0.575,1.83,18.1,0.236,0.736,0.493,0.133,0.550,0.587,100.6,99.18,82.65,8225,0.512,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612741,1610612741,CHI,Bulls,Chicago,Illinois,1966

In [ ]:
column = teams_advanced_df_22_23['full_name']

teams_advanced_df_22_23.drop('full_name', axis=1, inplace=True)

teams_advanced_df_22_23.insert(0, 'full_name', column)

In [ ]:
# teams_advanced_df_22_23.to_csv('teams_advanced_df_22_23.csv', index=False)

### Team rosters.

In [9]:
import pandas as pd
from nba_api.stats.endpoints import commonteamroster

all_team_rosters = pd.DataFrame()

current_year = 2023

for year in range(current_year - 25, current_year):
    
    season = f"{year}-{str(year + 1)[2:]}"
    
    for id in team_ids:

        team_roster = commonteamroster.CommonTeamRoster(season=season, team_id=id)
        team_roster_data = team_roster.get_data_frames()[0]
            
        all_team_rosters = pd.concat([all_team_rosters, team_roster_data], ignore_index=True)

In [10]:
len(all_team_rosters)

10967

In [12]:
# all_team_rosters

In [13]:
# all_team_rosters.to_csv('all_team_rosters_1998_2022.csv', index=False)

### Shot locations.

In [ ]:
from nba_api.stats.endpoints import leaguedashteamshotlocations

shotloc = leaguedashteamshotlocations.LeagueDashTeamShotLocations(team_id_nullable=1610612746)

shotloc_data = shotloc.get_data_frames()[0]

In [ ]:
shotloc_data

SHOT_CATEGORY                          Restricted Area               \
columns           TEAM_ID    TEAM_NAME             FGM   FGA FG_PCT
0              1610612746  LA Clippers            1287  1970  0.653

SHOT_CATEGORY In The Paint (Non-RA)              Mid-Range               \
columns                         FGM   FGA FG_PCT       FGM   FGA FG_PCT
0                               580  1281  0.453       462  1077  0.429

SHOT_CATEGORY Left Corner 3             Right Corner 3              \
columns                 FGM  FGA FG_PCT            FGM  FGA FG_PCT
0                       143  392  0.365            142  320  0.444

SHOT_CATEGORY Above the Break 3              Backcourt            Corner 3  \
columns                     FGM   FGA FG_PCT       FGM FGA FG_PCT      FGM
0                           755  2005  0.377         1  15  0.067      285

SHOT_CATEGORY
columns        FGA FG_PCT
0              712    0.4

In [ ]:
# shotloc_data