In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('all_teams_yby_stats_1949_2022.csv')

In [3]:
data.head()

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,CONF_COUNT,DIV_COUNT,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612737,Tri-Cities,Blackhawks,1949-50,64,29,35,0.453,0,3,1,2,NaN,6,NaN,1818,0,0.0,0,0,0.0,0,2308,0.727,0,0,0,1330,2057,0,0,0,5313,10
1,1610612737,Tri-Cities,Blackhawks,1950-51,68,25,43,0.368,0,5,0,0,NaN,5,NaN,1988,0,0.0,0,0,0.0,0,2425,0.723,0,0,0,1476,2092,0,0,0,5730,3
2,1610612737,Milwaukee,Hawks,1951-52,66,17,49,0.258,0,5,0,0,NaN,6,NaN,1674,0,0.0,0,0,0.0,0,2177,0.682,0,0,0,1229,1848,0,0,0,4833,10
3,1610612737,Milwaukee,Hawks,1952-53,71,27,44,0.380,0,5,0,0,NaN,5,NaN,1873,0,0.0,0,0,0.0,0,2400,0.685,0,0,0,1427,2120,0,0,0,5389,9
4,1610612737,Milwaukee,Hawks,1953-54,72,21,51,0.292,0,4,0,0,NaN,4,NaN,1757,0,0.0,0,0,0.0,0,2205,0.691,0,0,0,1298,1771,0,0,0,5038,9

In [4]:
data = data[(data['YEAR'] >= '1998-99') & (data['YEAR'] <= '2022-23')]

In [5]:
data

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,CONF_COUNT,DIV_COUNT,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
49,1610612737,Atlanta,Hawks,1998-99,50,31,19,0.620,4,2,3,6,15.0,8,NaN,1539,3760,0.409,197,644,0.306,1040,1422,0.731,676,1499,2175,782,987,346,745,260,4315,28
50,1610612737,Atlanta,Hawks,1999-00,82,28,54,0.341,14,7,0,0,15.0,8,NaN,3000,6807,0.441,258,814,0.317,1477,1987,0.743,1146,2570,3716,1548,1718,500,1266,461,7735,25
51,1610612737,Atlanta,Hawks,2000-01,82,25,57,0.305,13,7,0,0,15.0,8,NaN,2876,6668,0.431,333,933,0.357,1374,1811,0.759,1028,2490,3518,1559,1863,634,1368,387,7459,26
52,1610612737,Atlanta,Hawks,2001-02,82,33,49,0.402,12,6,0,0,15.0,8,NaN,2901,6610,0.439,423,1194,0.354,1486,1942,0.765,955,2445,3400,1656,1702,667,1275,350,7711,19
53,1610612737,Atlanta,Hawks,2002-03,82,35,47,0.427,11,5,0,0,15.0,8,NaN,2859,6434,0.444,402,1141,0.352,1594,2011,0.793,937,2558,3495,1679,1783,611,1367,473,7714,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592,1610612766,Charlotte,Hornets,2018-19,82,39,43,0.476,9,2,0,0,15.0,5,NaN,3297,7362,0.448,977,2783,0.351,1510,1895,0.797,814,2778,3592,1905,1550,591,1001,405,9081,19
1593,1610612766,Charlotte,Hornets,2019-20,65,23,42,0.354,10,4,0,0,15.0,5,NaN,2425,5586,0.434,785,2231,0.352,1052,1406,0.748,715,2066,2781,1549,1223,428,949,268,6687,30
1594,1610612766,Charlotte,Hornets,2020-21,72,33,39,0.458,10,4,0,0,15.0,5,NaN,2875,6324,0.455,985,2666,0.369,1146,1505,0.761,762,2389,3151,1933,1298,565,1069,344,7881,23
1595,1610612766,Charlotte,Hornets,2021-22,82,43,39,0.524,10,3,0,0,15.0,5,NaN,3508,7497,0.468,1143,3130,0.365,1298,1753,0.740,888,2767,3655,2302,1629,707,1087,402,9457,4
1596,1610612766,Charlotte,Hornets,2022-23,82,27,55,0.329,14,5,0,0,15.0,5,NaN,3385,7413,0.457,881,2669,0.330,1447,1933,0.749,901,2751,3652,2062,1661,634,1164,425,9098,27

In [6]:
data.groupby(['YEAR'])['TEAM_ID'].count()

YEAR
1998-99    29
1999-00    29
2000-01    29
2001-02    29
2002-03    29
2003-04    29
2004-05    30
2005-06    30
2006-07    30
2007-08    30
2008-09    30
2009-10    30
2010-11    30
2011-12    30
2012-13    30
2013-14    30
2014-15    30
2015-16    30
2016-17    30
2017-18    30
2018-19    30
2019-20    30
2020-21    30
2021-22    30
2022-23    30
Name: TEAM_ID, dtype: int64

In [7]:
data['FGM_PER_GAME'] = round(data['FGM'] / data['GP'], 1)
data['FGA_PER_GAME'] = round(data['FGA'] / data['GP'], 1)
data['FG3M_PER_GAME'] = round(data['FG3M'] / data['GP'], 1)
data['FG3A_PER_GAME'] = round(data['FG3A'] / data['GP'], 1)
data['FTM_PER_GAME'] = round(data['FTM'] / data['GP'], 1)
data['FTA_PER_GAME'] = round(data['FTA'] / data['GP'], 1)

In [8]:
data.isna().sum()

TEAM_ID                    0
TEAM_CITY                  0
TEAM_NAME                  0
YEAR                       0
GP                         0
WINS                       0
LOSSES                     0
WIN_PCT                    0
CONF_RANK                  0
DIV_RANK                   0
PO_WINS                    0
PO_LOSSES                  0
CONF_COUNT                 0
DIV_COUNT                  0
NBA_FINALS_APPEARANCE    694
FGM                        0
FGA                        0
FG_PCT                     0
FG3M                       0
FG3A                       0
FG3_PCT                    0
FTM                        0
FTA                        0
FT_PCT                     0
OREB                       0
DREB                       0
REB                        0
AST                        0
PF                         0
STL                        0
TOV                        0
BLK                        0
PTS                        0
PTS_RANK                   0
FGM_PER_GAME               0
FGA_PER_GAME               0
FG3M_PER_GAME              0
FG3A_PER_GAME              0
FTM_PER_GAME               0
FTA_PER_GAME               0
dtype: int64

In [9]:
data

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,CONF_COUNT,DIV_COUNT,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK,FGM_PER_GAME,FGA_PER_GAME,FG3M_PER_GAME,FG3A_PER_GAME,FTM_PER_GAME,FTA_PER_GAME
49,1610612737,Atlanta,Hawks,1998-99,50,31,19,0.620,4,2,3,6,15.0,8,NaN,1539,3760,0.409,197,644,0.306,1040,1422,0.731,676,1499,2175,782,987,346,745,260,4315,28,30.8,75.2,3.9,12.9,20.8,28.4
50,1610612737,Atlanta,Hawks,1999-00,82,28,54,0.341,14,7,0,0,15.0,8,NaN,3000,6807,0.441,258,814,0.317,1477,1987,0.743,1146,2570,3716,1548,1718,500,1266,461,7735,25,36.6,83.0,3.1,9.9,18.0,24.2
51,1610612737,Atlanta,Hawks,2000-01,82,25,57,0.305,13,7,0,0,15.0,8,NaN,2876,6668,0.431,333,933,0.357,1374,1811,0.759,1028,2490,3518,1559,1863,634,1368,387,7459,26,35.1,81.3,4.1,11.4,16.8,22.1
52,1610612737,Atlanta,Hawks,2001-02,82,33,49,0.402,12,6,0,0,15.0,8,NaN,2901,6610,0.439,423,1194,0.354,1486,1942,0.765,955,2445,3400,1656,1702,667,1275,350,7711,19,35.4,80.6,5.2,14.6,18.1,23.7
53,1610612737,Atlanta,Hawks,2002-03,82,35,47,0.427,11,5,0,0,15.0,8,NaN,2859,6434,0.444,402,1141,0.352,1594,2011,0.793,937,2558,3495,1679,1783,611,1367,473,7714,18,34.9,78.5,4.9,13.9,19.4,24.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592,1610612766,Charlotte,Hornets,2018-19,82,39,43,0.476,9,2,0,0,15.0,5,NaN,3297,7362,0.448,977,2783,0.351,1510,1895,0.797,814,2778,3592,1905,1550,591,1001,405,9081,19,40.2,89.8,11.9,33.9,18.4,23.1
1593,1610612766,Charlotte,Hornets,2019-20,65,23,42,0.354,10,4,0,0,15.0,5,NaN,2425,5586,0.434,785,2231,0.352,1052,1406,0.748,715,2066,2781,1549,1223,428,949,268,6687,30,37.3,85.9,12.1,34.3,16.2,21.6
1594,1610612766,Charlotte,Hornets,2020-21,72,33,39,0.458,10,4,0,0,15.0,5,NaN,2875,6324,0.455,985,2666,0.369,1146,1505,0.761,762,2389,3151,1933,1298,565,1069,344,7881,23,39.9,87.8,13.7,37.0,15.9,20.9
1595,1610612766,Charlotte,Hornets,2021-22,82,43,39,0.524,10,3,0,0,15.0,5,NaN,3508,7497,0.468,1143,3130,0.365,1298,1753,0.740,888,2767,3655,2302,1629,707,1087,402,9457,4,42.8,91.4,13.9,38.2,15.8,21.4
1596,1610612766,Charlotte,Hornets,2022-23,82,27,55,0.329,14,5,0,0,15.0,5,NaN,3385,7413,0.457,881,2669,0.330,1447,1933,0.749,901,2751,3652,2062,1661,634,1164,425,9098,27,41.3,90.4,10.7,32.5,17.6,23.6

In [10]:
# data.dtypes

In [11]:
data[data['FTM_PER_GAME']==0]

Empty DataFrame
Columns: [TEAM_ID, TEAM_CITY, TEAM_NAME, YEAR, GP, WINS, LOSSES, WIN_PCT, CONF_RANK, DIV_RANK, PO_WINS, PO_LOSSES, CONF_COUNT, DIV_COUNT, NBA_FINALS_APPEARANCE, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, PF, STL, TOV, BLK, PTS, PTS_RANK, FGM_PER_GAME, FGA_PER_GAME, FG3M_PER_GAME, FG3A_PER_GAME, FTM_PER_GAME, FTA_PER_GAME]
Index: []

In [12]:
data['FG2M'] = data['FGM'] - data['FG3M']
data['FG2A'] = data['FGA'] - data['FG3A']

In [13]:
data['FG2M_PER_GAME'] = data['FG2M'] / data['GP']
data['FG2A_PER_GAME'] = data['FG2A'] / data['GP']

In [14]:
data['FG2_PCT'] = data['FG2M'] / data['FG2A']

3-pointers.

In [15]:
seasonal_fg3a_mean = data.groupby('YEAR').agg({'FG3A': 'mean'}).round().astype(int).reset_index()
seasonal_fg3m_mean = data.groupby('YEAR').agg({'FG3M': 'mean'}).round().astype(int).reset_index()

In [16]:
seasonal_fg3m_mean

       YEAR  FG3M
0   1998-99   223
1   1999-00   397
2   2000-01   397
3   2001-02   428
4   2002-03   421
5   2003-04   425
6   2004-05   459
7   2005-06   470
8   2006-07   498
9   2007-08   537
10  2008-09   545
11  2009-10   527
12  2010-11   530
13  2011-12   423
14  2012-13   587
15  2013-14   635
16  2014-15   643
17  2015-16   698
18  2016-17   792
19  2017-18   860
20  2018-19   932
21  2019-20   862
22  2020-21   914
23  2021-22  1020
24  2022-23  1012

In [17]:
print(len(seasonal_fg3a_mean))
len(seasonal_fg3m_mean)

25

25

In [18]:
seasonal_fg3_mean = seasonal_fg3a_mean.merge(seasonal_fg3m_mean, on='YEAR')

In [19]:
seasonal_fg3_mean

       YEAR  FG3A  FG3M
0   1998-99   658   223
1   1999-00  1125   397
2   2000-01  1124   397
3   2001-02  1209   428
4   2002-03  1204   421
5   2003-04  1224   425
6   2004-05  1292   459
7   2005-06  1310   470
8   2006-07  1389   498
9   2007-08  1485   537
10  2008-09  1486   545
11  2009-10  1487   527
12  2010-11  1477   530
13  2011-12  1213   423
14  2012-13  1636   587
15  2013-14  1766   635
16  2014-15  1838   643
17  2015-16  1975   698
18  2016-17  2214   792
19  2017-18  2378   860
20  2018-19  2625   932
21  2019-20  2408   862
22  2020-21  2494   914
23  2021-22  2884  1020
24  2022-23  2806  1012

Evolution FG.

In [20]:
data_fg_per_game = data[['YEAR', 'FGM_PER_GAME', 'FGA_PER_GAME', 'FG2M_PER_GAME', 'FG2A_PER_GAME', 'FG3M_PER_GAME', 'FG3A_PER_GAME', 'FTM_PER_GAME', 'FTA_PER_GAME']]

In [21]:
ev_fg_per_game = data_fg_per_game.groupby(['YEAR']).mean()

In [22]:
ev_fg_per_game

,FGM_PER_GAME,FGA_PER_GAME,FG2M_PER_GAME,FG2A_PER_GAME,FG3M_PER_GAME,FG3A_PER_GAME,FTM_PER_GAME,FTA_PER_GAME
YEAR,,,,,,,,
1998-99,34.168966,78.196552,29.714483,65.033793,4.455172,13.165517,18.779310,25.796552
1999-00,36.831034,82.096552,31.992431,68.379310,4.837931,13.717241,18.965517,25.282759
2000-01,35.682759,80.603448,30.841463,66.891085,4.841379,13.706897,18.593103,24.879310
2001-02,36.172414,81.268966,30.954163,66.521867,5.213793,14.755172,17.913793,23.827586
2002-03,35.710345,80.782759,30.587468,66.104710,5.134483,14.675862,18.506897,24.431034
2003-04,35.006897,79.817241,29.828848,64.890664,5.182759,14.920690,18.193103,24.203448
2004-05,35.943333,80.336667,30.348780,64.584553,5.600000,15.750000,19.700000,26.056667
2005-06,35.836667,78.990000,30.113821,63.008943,5.726667,15.983333,19.600000,26.303333
2006-07,36.526667,79.710000,30.460976,62.764634,6.070000,16.940000,19.616667,26.080000
2007-08,37.260000,81.510000,30.709350,63.397154,6.563333,18.106667,18.850000,24.940000
2008-09,37.113333,80.916667,30.470732,62.793089,6.653333,18.133333,19.056667,24.736667
2009-10,37.696667,81.693333,31.263415,63.563821,6.440000,18.136667,18.623333,24.543333
2010-11,37.246667,81.210000,30.787805,63.202033,6.463333,18.010000,18.603333,24.366667
2011-12,36.476667,81.430000,30.063131,63.045455,6.406667,18.386667,16.896667,22.463333
2012-13,37.120000,82.026667,29.974867,62.059104,7.163333,19.966667,16.706667,22.190000
2013-14,37.716667,83.000000,29.969512,61.462602,7.743333,21.536667,17.836667,23.593333
2014-15,37.516667,83.563333,29.669512,61.151626,7.850000,22.410000,17.136667,22.846667
2015-16,38.230000,84.570000,29.720325,60.491057,8.506667,24.083333,17.690000,23.353333
2016-17,39.050000,85.416667,29.395528,58.411789,9.650000,27.003333,17.833333,23.110000
2017-18,39.606667,86.063333,29.117073,57.060163,10.486667,28.996667,16.613333,21.673333
2018-19,41.073333,89.213333,29.718293,57.201626,11.360000,32.006667,17.676667,23.073333
2019-20,40.830000,88.800000,28.634486,54.708991,12.193333,34.103333,17.846667,23.096667
2020-21,41.210000,88.416667,28.515278,53.778241,12.706667,34.636667,16.970000,21.816667
2021-22,40.623333,88.090000,28.183740,52.921545,12.440000,35.180000,16.933333,21.856667
2022-23,41.976667,88.316667,29.634553,54.086992,12.340000,34.210000,18.393333,23.530000

In [23]:
ev_fg_per_game = ev_fg_per_game.reset_index()

In [35]:
# ev_fg_per_game.to_csv('ev_fg_per_game.csv', index=False)

In [25]:
data_fg = data[['YEAR', 'FGM', 'FGA', 'FG2M', 'FG2A', 'FG3M', 'FG3A', 'FTM', 'FTA']]

In [26]:
ev_fg = data_fg.groupby(['YEAR']).mean()

In [27]:
ev_fg

,FGM,FGA,FG2M,FG2A,FG3M,FG3A,FTM,FTA
YEAR,,,,,,,,
1998-99,1708.586207,3909.620690,1485.724138,3251.689655,222.862069,657.931034,939.000000,1289.620690
1999-00,3020.379310,6731.724138,2623.379310,5607.103448,397.000000,1124.620690,1554.965517,2072.793103
2000-01,2926.379310,6609.103448,2529.000000,5485.068966,397.379310,1124.034483,1524.310345,2039.206897
2001-02,2965.896552,6664.241379,2538.241379,5454.793103,427.655172,1209.448276,1469.620690,1953.448276
2002-03,2928.862069,6624.448276,2508.172414,5420.586207,420.689655,1203.862069,1518.206897,2003.551724
2003-04,2870.827586,6544.896552,2445.965517,5321.034483,424.862069,1223.862069,1492.000000,1984.965517
2004-05,2947.833333,6587.533333,2488.600000,5295.933333,459.233333,1291.600000,1615.400000,2136.500000
2005-06,2938.866667,6477.166667,2469.333333,5166.733333,469.533333,1310.433333,1607.433333,2156.666667
2006-07,2995.333333,6535.766667,2497.800000,5146.700000,497.533333,1389.066667,1608.433333,2138.300000
2007-08,3055.633333,6683.366667,2518.166667,5198.566667,537.466667,1484.800000,1544.966667,2045.433333
2008-09,3043.666667,6635.133333,2498.600000,5149.033333,545.066667,1486.100000,1563.566667,2028.633333
2009-10,3091.000000,6699.633333,2563.600000,5212.233333,527.400000,1487.400000,1527.266667,2012.566667
2010-11,3054.133333,6659.666667,2524.600000,5182.566667,529.533333,1477.100000,1525.333333,1997.900000
2011-12,2407.266667,5374.166667,1984.166667,4161.000000,423.100000,1213.166667,1115.500000,1482.400000
2012-13,3042.733333,6720.300000,2455.966667,5084.733333,586.766667,1635.566667,1368.533333,1817.766667
2013-14,3092.633333,6805.733333,2457.500000,5039.933333,635.133333,1765.800000,1462.333333,1934.300000
2014-15,3076.233333,6852.333333,2432.900000,5014.433333,643.333333,1837.900000,1405.366667,1873.266667
2015-16,3135.500000,6934.966667,2437.066667,4960.266667,698.433333,1974.700000,1449.633333,1915.633333
2016-17,3202.033333,7003.800000,2410.433333,4789.766667,791.600000,2214.033333,1462.766667,1895.166667
2017-18,3247.833333,7056.900000,2387.600000,4678.933333,860.233333,2377.966667,1363.433333,1777.500000
2018-19,3368.733333,7315.266667,2436.900000,4690.533333,931.833333,2624.733333,1449.800000,1891.933333
2019-20,2885.000000,6270.533333,2022.933333,3862.133333,862.066667,2408.400000,1260.866667,1631.433333
2020-21,2967.333333,6366.100000,2053.100000,3872.033333,914.233333,2494.066667,1221.666667,1571.166667
2021-22,3331.000000,7224.066667,2311.066667,4339.566667,1019.933333,2884.500000,1388.566667,1792.700000
2022-23,3442.000000,7240.633333,2430.033333,4435.133333,1011.966667,2805.500000,1508.266667,1929.366667

In [28]:
ev_fg_sum = data_fg.groupby(['YEAR']).sum()

In [29]:
ev_fg_sum

            FGM     FGA   FG2M    FG2A   FG3M   FG3A    FTM    FTA
YEAR
1998-99   49549  113379  43086   94299   6463  19080  27231  37399
1999-00   87591  195220  76078  162606  11513  32614  45094  60111
2000-01   84865  191664  73341  159067  11524  32597  44205  59137
2001-02   86011  193263  73609  158189  12402  35074  42619  56650
2002-03   84937  192109  72737  157197  12200  34912  44028  58103
2003-04   83254  189802  70933  154310  12321  35492  43268  57564
2004-05   88435  197626  74658  158878  13777  38748  48462  64095
2005-06   88166  194315  74080  155002  14086  39313  48223  64700
2006-07   89860  196073  74934  154401  14926  41672  48253  64149
2007-08   91669  200501  75545  155957  16124  44544  46349  61363
2008-09   91310  199054  74958  154471  16352  44583  46907  60859
2009-10   92730  200989  76908  156367  15822  44622  45818  60377
2010-11   91624  199790  75738  155477  15886  44313  45760  59937
2011-12   72218  161225  59525  124830  12693  36395  33465  44472
2012-13   91282  201609  73679  152542  17603  49067  41056  54533
2013-14   92779  204172  73725  151198  19054  52974  43870  58029
2014-15   92287  205570  72987  150433  19300  55137  42161  56198
2015-16   94065  208049  73112  148808  20953  59241  43489  57469
2016-17   96061  210114  72313  143693  23748  66421  43883  56855
2017-18   97435  211707  71628  140368  25807  71339  40903  53325
2018-19  101062  219458  73107  140716  27955  78742  43494  56758
2019-20   86550  188116  60688  115864  25862  72252  37826  48943
2020-21   89020  190983  61593  116161  27427  74822  36650  47135
2021-22   99930  216722  69332  130187  30598  86535  41657  53781
2022-23  103260  217219  72901  133054  30359  84165  45248  57881

In [30]:
ev_fg_sum['FG2M'] = ev_fg_sum['FGM'] - ev_fg_sum['FG3M']
ev_fg_sum['FG2A'] = ev_fg_sum['FGA'] - ev_fg_sum['FG3A']

In [31]:
ev_fg_sum = ev_fg_sum.reset_index()

In [32]:
ev_fg_sum

       YEAR     FGM     FGA   FG2M    FG2A   FG3M   FG3A    FTM    FTA
0   1998-99   49549  113379  43086   94299   6463  19080  27231  37399
1   1999-00   87591  195220  76078  162606  11513  32614  45094  60111
2   2000-01   84865  191664  73341  159067  11524  32597  44205  59137
3   2001-02   86011  193263  73609  158189  12402  35074  42619  56650
4   2002-03   84937  192109  72737  157197  12200  34912  44028  58103
5   2003-04   83254  189802  70933  154310  12321  35492  43268  57564
6   2004-05   88435  197626  74658  158878  13777  38748  48462  64095
7   2005-06   88166  194315  74080  155002  14086  39313  48223  64700
8   2006-07   89860  196073  74934  154401  14926  41672  48253  64149
9   2007-08   91669  200501  75545  155957  16124  44544  46349  61363
10  2008-09   91310  199054  74958  154471  16352  44583  46907  60859
11  2009-10   92730  200989  76908  156367  15822  44622  45818  60377
12  2010-11   91624  199790  75738  155477  15886  44313  45760  59937
13  2011-12   72218  161225  59525  124830  12693  36395  33465  44472
14  2012-13   91282  201609  73679  152542  17603  49067  41056  54533
15  2013-14   92779  204172  73725  151198  19054  52974  43870  58029
16  2014-15   92287  205570  72987  150433  19300  55137  42161  56198
17  2015-16   94065  208049  73112  148808  20953  59241  43489  57469
18  2016-17   96061  210114  72313  143693  23748  66421  43883  56855
19  2017-18   97435  211707  71628  140368  25807  71339  40903  53325
20  2018-19  101062  219458  73107  140716  27955  78742  43494  56758
21  2019-20   86550  188116  60688  115864  25862  72252  37826  48943
22  2020-21   89020  190983  61593  116161  27427  74822  36650  47135
23  2021-22   99930  216722  69332  130187  30598  86535  41657  53781
24  2022-23  103260  217219  72901  133054  30359  84165  45248  57881

In [33]:
# ev_fg_sum.to_csv('ev_fg_sum.csv', index=False)